@model FlyEase_ApiRest_.Models.Aerolinea

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Aereolinea</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigoiata)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigoiata)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigoicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigoicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecharegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecharegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idaereolinea">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
